body {
    width: 100vw;
    height:100vh;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    background:url('../assets/adrien_tile.png');
    background-repeat: repeat;
    background-size: 7rem;
    overflow: hidden;
}

#chromeisdeftheworstbrowserever {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height:100vh;
    min-width: 100vw;
    min-height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    opacity: 65%;
    background: linear-gradient(233deg, #FED18C, #FFD2FC, #AAFFE5, #bf71ce);
    animation: hueRotate 1s linear infinite;
}

@keyframes hueRotate {
    from {
        filter: hue-rotate(0);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
