#🔪 {
    --size: 500px;
    position: absolute;
    top: calc(50vh - var(--size) / 2);
    left: calc(50vw - var(--size) / 2);
    width: var(--size);
    height: var(--size);
    animation: linear infinite sus 2s;
}

@keyframes sus {
    from {
        transform: rotate3d(0, 0, 0, 0) scale(1);
    } to {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

@keyframes susback {
    from {
        transform: rotate(0) scale(3);
    } to {
        transform: rotate(360deg) scale(3);
    }
}