@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#❤️ {
    font-family: Pacifico, Comic Sans MS, cursive;
    font-size: 13rem;
}

#❤️::after {
    content: "";
    display: inline-block;
    width: 5rem;
    height: 10rem;
    background-image: url("../assets/tail.svg");
    background-repeat: no-repeat;
    background-size: contain;
    animation: ease-in-out alternate-reverse infinite 4s 🐈;
    transform-origin: bottom left;
}

@keyframes 🐈 {
    0% {
        transform: translate(-2.2rem, -2rem) rotate(40deg);
    }
    50% {
        transform: translate(-2.2rem, -2rem) rotate(30deg);
    }
    100% {
        transform: translate(-2.2rem, -2rem) rotate(20deg);
    }
}