@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#❤️ {
    font-family: Pacifico, Comic Sans MS, cursive;
    font-size: 13rem;
}

#❤️::after {
    content: "";
    display: inline-block;
    width: 5rem;
    height: 10rem;
    transform: rotate(30deg);
    background-image: url("../assets/tail.svg");
    background-repeat: no-repeat;
    background-size: contain;
}